<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="action_auto_mailing_list" model="ir.actions.act_window">
    <field name="name">Marketing Automation Campaign</field>
    <field name="res_model">mailing.mailing</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[('auto_send','=',True)]</field>
  </record>

  <record id="marketing_automation_menu_root" model="ir.ui.menu">
    <field name="name">Marketing Automation</field>
    <field name="sequence">20</field>
  </record>

  <record id="marketing_automation_menu_auto_campaigns" model="ir.ui.menu">
    <field name="name">Auto Email Campaigns</field>
    <field name="parent_id" ref="marketing_automation_custom.marketing_automation_menu_root"/>
    <field name="action"    ref="marketing_automation_custom.action_auto_mailing_list"/>
    <field name="sequence">10</field>
  </record>

  <record id="marketing_automation_menu_statistics" model="ir.ui.menu">
    <field name="name">Statistics</field>
    <field name="parent_id" ref="marketing_automation_custom.marketing_automation_menu_root"/>
    <field name="action"    ref="mass_mailing.mailing_trace_report_action_mail"/>
    <field name="sequence">20</field>
  </record>
</odoo>
